/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 0px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-right-text{
	color: grey;
	font-size: 19px;
}

.navbar-right-text2{
	color: red;
	font-size: 19px;
}

.navbar-right-login{
	color: yellow;
	font-size: 21px;
	text-align: right;
}

.page-header{
	color: yellow;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 10px;
  height: 100%;
  display: block;
  position: absolute;
}
@media (max-width: 768px) {
  .main {
  	width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.map {
	background: green;
    position: absolute;
    top: 0;
    right: 0;
    border-top: outset;
    border-left: outset;
    border-bottom: inset;
    border-right: inset;
}

.mapbar {
	margin-top: 18px; 
	margin-left: 50px; 
	width: 100% 
	z-index: 1
}

.icon-chevron-up:after {
  font-family: "Glyphicons Halflings";
  content:"\e113";;
}

.icon-chevron-down:after {
  font-family: "Glyphicons Halflings";
  content:"\e114";
}
.doctor-photo-background{
	
	background-image: url('lekarz.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position: center center;
	width: 100%;

	min-height: 100vh;
	margin: 0 0 0 0;
	padding-top: 70px;
	padding-bottom: 30px;
}
.photo-background{
	background-image: url('admin.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position: center center;
	width: 100%;
	min-height: 100vh;
	margin: 0 0 0 0;
	padding-top: 70px;
	padding-bottom: 30px;
}

.jumbotron dd{
    font-size: 21px;
    font-weight: 200;
}

.jumbotron dt{    
    font-size: 21px;
    font-weight: 700;
}

.form-control{
	max-width: 120 px;
}

 .labels {
   color: red;
   background-color: white;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 25px;     
   border: 2px solid black;
   white-space: nowrap;
 }
 
 .register-boxxx{
 max-width: 120 px;
 
 }
 .adding-box{
width:250px;

 }
 
 
	.error {
		color: #ff0000;
	}
