.klinika-photo-background {
	background-image: url('klinika.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding-top: 70px;
	padding-bottom: 30px;
}

.rej-photo-background {
	background-image: url('rejstr.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding-top: 70px;
	padding-bottom: 30px;
}

.interval {
	height: 40px;
}

.theme-showcase>p>.btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.theme-showcase2 .navbar .container {
	width: 100px;
}

.navbar-right-text {
	color: white;
}

.navbar-right-login {
	color: yellow;
}

.page-header {
	color: yellow;
}

h1 {
	color: red;
}

.const-width {
	min-width: 100%;
	max-width: 100%;
}

.tlo {
	width: 900px;
	height: 460px;
	border: 1px solid;
	background-color: grey;
	background-position: center center;
}