<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Łamanie Haseł</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/jumbotron.css" rel="stylesheet">
    <link href="../../static/css/admin_main.css" rel="stylesheet">
    

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!--odtad do /head-->    
    
    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dbase/glowna/">Strona główna</a>
      </div>

<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					
					<a href="/dbase/generator/" title="Generator Hash"><span
							class="navbar-brand" aria-hidden="true">Generator Hash</span></a>
				
					
					
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"
					
						role="button" aria-expanded="false" title="Menu"><span
							class="navbar-right-text" aria-hidden="true"></span>Zleć zadanie<span
							class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/dbase/bruteforce/" title="Metoda Brute Force">Metoda Brute Force</a></li>
							<li><a href="/dbase/slownikowa/" title="Metoda Słownikowa">Metoda Słownikowa</a></li>
							
						</ul></li>
						
					<a href="/dbase/historia/" title="Historia zlecen"><span
						class="navbar-brand" aria-hidden="true">Zlecenia</span></a>

				</ul>


				<div class="navbar-form navbar-right">
					<span class="navbar-right-text">Jesteś zalogowany jako:</span> <span
						class="navbar-right-login" id="login">{{ user.username }}</span>
					<a href="/dbase/logout"><button type="submit"
							id='przyc1' class="btn btn-danger">Wyloguj się</button></a>

				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
		<!-- /.container -->
	</nav>

  




    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        {% block content%} {% endblock %}
      </div>
    </div>

      <hr>
      

      <footer>
        <p>&copy; Politechnika Wrocławska 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.2.min.js" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>

</html>
