{% extends 'base_ap.html' %}
	
{% block content %}
	<div class="container">
      <!-- Example row of columns -->
      <form id="genhash_form" method="post" form class="form-horizontal" action="/dbase/generator/">
       {% csrf_token %} 
	      <div class="form-group">
	     
		      <label for="inputPassword" class="col-sm-2 control-label"> Hasło do haszowania </label>
		      <div class="col-sm-3">
				<input type="text" name="haslo" method="post"  class="form-control" value="" size="50" /> 
        </div><input type="submit" value="Generuj" id="generujHash" />
	      </div>
	      
  
	<div class="form-group">
		      <label for="metoda" class="col-sm-2 control-label"> Metoda Generowania </label>
		      <div class="col-sm-3">
			      <div class="metoda">
			       <span class="input-group-addon">
	
{% for choice in form.metoda.field.choices %}
 
    <input type="radio" name="metoda" value="{{choice.0}}"
      {% ifequal form.metoda.data choice.0 %} 
         checked="checked"
      {% endifequal %}/>
    <label for="">{{choice.1}}</label>
  
{% endfor %}

</span></br>
</div></div></div> 	      
	    <div class="container">
      <!-- Example row of columns -->
      <form class="form-horizontal">
	      <div class="form-group">
		      <label for="outputPassword" class="col-sm-2 control-label"> Hash MD5 </label>
		      <div class="col-sm-3">
			      <output type="text"  style="width:270px" class="form-control" name="outputHash">
			      {{outputPassword1}}
			      </div>
			      </br></br></br> </br>
			      
	<div class="container">
      <!-- Example row of columns -->
      <form class="form-horizontal">
	      <div class="form-group">
		      <label for="outputPassword" class="col-sm-2 control-label"> Hash SHA256 </label>
		      <div class="col-sm-3">
			      <output type="text" style="width:520px"  class="form-control" name="outputHash">
			      {{outputPassword2}}
			      </div>
			      </div>
			      </br></br>
	    
</form>

{% endblock %}
