{% extends 'base_ap.html' %}
	
{% block content %}
		{% load static %} <!-- New line -->
        {% if user.is_authenticated %}
			<h1>Witamy w aplikacji  {{ user.username }}!</h1>
		{% else %}
			<h1>Witamy w aplikacji !</h1><br />
		{% endif %}
		<h2>Możesz wykonać porządaną czynność <br /> poprzez wybranie jednego z formularzy</h2><br /><br /><br />
		
		<img src="{% static "enigma.jpg" %}" alt="Picture of Enigma" /> <!-- New line -->
			
			

{% endblock %}