{% extends 'base_ap.html' %}
{% load mathfilters %}
{% block content %}


<div class="jumbotron">
	<h2 class="sub-header"> Aktualne zlecenia </h2>
	<table id="mytable2" class="table table-striped">
		<thead> <tr>
			<th>Id zadania</th>
			<th>Pasek postepu</th>
			<th>Procent postępu</th>
		</tr> </thead>

		<tbody id="refreshTable">
			{% for zad in Zlecenia %}
			<tr id="refreshTableRecordID{{zad.id}}" style="display:none">
				<td>{{ zad.id }}</td>
				<td> <div class="progress-bar" id="progressBarID{{zad.id}}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ zad.progress|intdiv:100  }}%;">
					<div>&nbsp;</div>
				</div></td>
				<td> <div id=progressBarValue{{zad.id}}>
					{{ zad.progress|div:100  }} % 
				</div></td>
 			</tr>
 			{% endfor %}   
  		</tbody>				
    	</table> </br></br> 



<!------------------------------------------------------------------>

	<h2 class="sub-header"> Historia zlecen </h2>
	<div class="container">
		{% if Zlecenia %}


       		<table id="mytable1" class="table table-striped">
			<thead>	<tr>
				<th>Id</th>
				<th>User</th>
				<th>Status</th>
				<th>Haslo</th>
				<th>Wynik</th>
				<th>Czas</th>
				<th>Postep</th>
				<th>Metoda</th>
				<th>Hash</th>
				<th>Rozmiar</th>
				<th>Dl. hasla</th>
				<th>Alfabet</th>
				<th>Akcja</th>
			</tr> </thead>

			<tbody>
				{% for zad in Zlecenia %}
				<tr>
					<td>{{ zad.id }}</td>
					<td>{{ zad.owner }}</td>
					<td id="statID{{ zad.id }}">{{ zad.status}}</td>
					<td>{{ zad.PASSWORD}}</td>
		    			<td id="resultID{{ zad.id }}">{{ zad.result}}</td> 
					<td id="timeID{{ zad.id }}">{{ zad.time}}</td> 
					<td id="progressID{{ zad.id }}">{{ zad.progress}}</td> 
					<td>{{ zad.type}}</td> 
		    			<td>{{ zad.hash}}</td> 
					<td>{{ zad.work_size}}</td> 
					<td>{{ zad.password_length}}</td> 
					<td>{{ zad.alphabet}}</td>
					<td>
					<button type="button" class="btn btn-default btn-xs" onclick="deleteFun('{{ zad.id }}')">USUŃ</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>					
            	</table>
                        
       		{% else %}
        	<strong>Pusta tabela.</strong>
       		{% endif %}
			
	</div>				
</div>




<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>



<script type="text/javascript">
$(document).ready(function(){
    $('#mytable1').DataTable();
});
</script>

<script type="text/javascript">
function deleteFun(id){
    $.ajax({
	type: "GET",
	url: "/dbase/delFromDB",
	dataType: "json",
	data: {id:id},
	contentType : "application/json"
    });
location.reload();
}
</script>



<script type="text/javascript">
function bars(){
    $.ajax({
	type: "GET",
	url: "/dbase/get_tasks",
	dataType: "json",
	success: function(result){
	    res = JSON.parse(result);	

	    for(var i=0; i<res.length; i++){

		var obj = res[i];
		$("#statID"    +obj.pk).text(obj.fields.status);
		$("#resultID"  +obj.pk).text(obj.fields.result);
		$("#timeID"    +obj.pk).text(obj.fields.time);
		$("#progressID"+obj.pk).text(obj.fields.progress/100 + '%');

		if(obj.fields.status == "in progress"){
			$("#refreshTableRecordID"+obj.pk).css("display", '');;
			$("#progressBarID"+obj.pk).attr('style','width:'+obj.fields.progress/100+'%');
			$("#progressBarValue"+obj.pk).text(obj.fields.progress/100 + '%');
		} else {
			$("#refreshTableRecordID"+obj.pk).css("display", 'none');
		}	
	    }				
	},
	error: function(result){
	    console.log(result);
	}
    });
}


$(document).ready(function(){
	setInterval(bars, 1000);
});
</script>


{% endblock %}



