{% extends 'base.html' %}
	
{% block content %}
        {% load static %} <!-- New line -->
		<h1>Witamy w aplikacji <br />Łamiania Haseł!</h1>

		<br /><br /><a href="/dbase/register/">Register Here</a><br />
		<a href="/dbase/login/">Login</a><br /><br /><br />
		
		<img src="{% static "enigma.jpg" %}" alt="Picture of Enigma" /> <!-- New line -->
{% endblock %}




	
	


    
		
		
		
		


		