{% extends 'base.html' %}
	


{% block content %}
        <h1>Dbase says...</h1>
        hello world! <strong>  bleble ble</strong><br />

		{% if  Category_list %}
		    <ul>
		    {% for Category in Category_list %}
		        <li>
		            <a href="/Category/{{ Category.name }}/">{{ Category.name }}</a>
		        </li>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>No post is made during the past two days.</p>
		{% endif %}

{% endblock %}
