{% extends 'base.html' %}
	
{% block content %}
        <h1>Login to Łamanie Haseł</h1>

        <form id="login_form" method="post" action="/dbase/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
{% endblock %}

