{% extends 'base_ap.html' %}
	
{% block content %}
       <div class="container">
      <!-- Example row of columns -->
      <form id="SlownikowaForm" method="post" form class="form-horizontal" action="/dbase/slownikowa/">
         {% csrf_token %} 
	      <div class="form-group">
		      <label for="inputPassword" class="col-sm-2 control-label"> Hash </label>
		      <div class="col-sm-3">
			      <input type="text" name="PASSWORD" class="form-control" id="inputPassword">  
		      </div>
	      </div>
		<div class="form-group">
		      <label for="taskSize" class="col-sm-2 control-label"> Rozmiar zadania dla workera </label>
		      <div class="col-sm-3">
			      <input type="text" name="work_size" class="form-control" id="taskSize">
		      </div>
	      </div>
	     <div class="form-group">
		      <label for="hash" class="col-sm-2 control-label"> Metoda Hashowania </label>
		      <div class="col-sm-4">
			      <div class="hash">
			       <span class="input-group-addon">
	
{% for choice in form.hash.field.choices %}
 
    <input type="radio" name="hash" value="{{choice.0}}"
      {% ifequal form.metoda.data choice.0 %} 
         checked="checked"
      {% endifequal %}/>
    <label  for="">{{choice.1}}</label>
    </br>
 
{% endfor %}

</span></br>
</div> </div> 
	  <input type="submit" value="Dodaj zlecenie" />    
      
      </div>
      
 
    
		   
		 
	      </div>
      </form>
    </div> <!-- /container -->
    
   
	   
{% endblock %}
