{% extends 'base_ap.html' %}
	
{% block content %}
<div class="container">
<!-- Example row of columns -->
	<form id="bruteforce_form" method="post" form class="form-horizontal" action="/dbase/bruteforce/">
       
	{% csrf_token %} 
	<div class="form-group">
	<label for="inputPassword" class="col-sm-2 control-label"> Hash </label>
	<div class="col-sm-4">
	<input type="text" name="PASSWORD" method="post" class="form-control" value="" size="50">
	</div>
	</div>

	<div class="form-group">
	<label for="taskSize" class="col-sm-2 control-label"> Rozmiar zadania dla workera </label>
	<div class="col-sm-4">
	<input type="number" name="work_size" method="post" class="form-control" id="work_size">
	</div>
	</div>

	<div class="form-group">
	<label for="max_dlu" class="col-sm-2 control-label"> Maksymalna Długość</label>
	<div class="col-sm-4">
	<input type="number" name="password_length" method="post" class="form-control" id="password_length">
	</div>
	</div>


	<div class="form-group">
		<label for="LowerCase" class="col-sm-2 control-label"> LowerCase </label>
		<div class="col-sm-4">
			<div class="LowerCase">
				<span class="input-group-addon">
					{{form.LowerCase}}
					{% csrf_token %}
					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
				</span>
				</br>
			</div>
		</div>
	</div>



	<div class="form-group">
		<label for="UpperCase" class="col-sm-2 control-label"> UpperCase </label>
		<div class="col-sm-4">
			<div class="UpperCase">
			       <span class="input-group-addon">
					{{form.UpperCase}}
					{% csrf_token %}
		    			{% for hidden in form.hidden_fields %}
		       				{{ hidden }}
		    			{% endfor %}
				</span>
				</br>
			</div>
		</div>
	</div>




	<div class="form-group">
		<label for="Digits" class="col-sm-2 control-label"> Digits </label>
		<div class="col-sm-4">
			<div class="Digits">
				<span class="input-group-addon">
					{{form.Digits}}
				</span>
				</br>
			</div>
		</div>
	</div>



	<div class="form-group">
		<label for="specialCharacters" class="col-sm-2 control-label"> specialChar</label>
		<div class="col-sm-4">
			<div class="specialCharacters">
				<span class="input-group-addon">
					{{form.specialCharacters}}
				</span>
				</br>
			</div>
		</div>
	</div>

 	<div class="form-group">
		<label for="hash" class="col-sm-2 control-label"> Metoda Hashowania </label>
			<div class="col-sm-4">
				<div class="hash">
				<span class="input-group-addon">
					{% for choice in form.hash.field.choices %}
		 			<input type="radio" name="hash" value="{{choice.0}}"
      						{% ifequal form.metoda.data choice.0 %} 
         					checked="checked"
      						{% endifequal %}/>
    					<label  for="">{{choice.1}}</label>
    					</br>
					{% endfor %}
				</span>
				</br>
				</div> 
			</div>    
			</br></br></br></br>      
		<center>
			<input type="submit" value="Dodaj zlecenie" />
		</center>
		</br></br> 
		</div></div>
	</div>
	
</form>
</div>
      
    <!-- /container -->
<script type="text/javascript">
$(function() {
	$("#submitButton").click(function() {
		window.location = "127.0.0.1:8000/dbase/historia/";
	}
});
</script>       
{% endblock %}
