{% extends 'base.html' %}
	
{% block content %}
        <h1>Rejestracja</h1><br /><br />

        {% if registered %}
        <strong>Zarejestruj się!</strong><br />
        
        <a href="/dbase/">Return to the homepage.</a><br />
        {% else %}
        <strong>Zarejestruj się</strong><br /><br />

        <form id="user_form" method="post" action="/dbase/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
{% endblock %}


