{% if  HostGroup_list %}
    <ul>
    {% for HostGroup in HostGroup_list %}
        <li>
            <a href="/HostGroup/{{ HostGroup.name }}/">{{ HostGroup.active }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No post is made during the past two days.</p>
{% endif %}