<!DOCTYPE html>
<html>
    <head>
        <title>Lamacze</title>
    </head>

    <body>
        <h1>Zlecanie zadan</h1>

        <form id="Zadanieform" method="post" action="/dbase/zadanie/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }} <br/>
            {% endfor %}
            
         {% for choice in form.alfabet2.field.choices %}
  
    <input type="checkbox" name="alfabet2" value="{{choice.0}}"
      {% ifequal form.alfabet2.data choice.0 %} 
         checked="checked"
      {% endifequal %}/>
    <label for="">{{choice.1}}</label>
  </br>
{% endfor %}




            <input type="submit" name="submit" value="Zlec" />
        </form>
    </body>

</html>